
<div>
    <div>Some tags before</div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://img-c.udemycdn.com/course/480x270/756150_c033_2.jpg?Expires=1622272012&Signature=Pt2sebly4MMHVVpfbonUuPZXJGlZ0UP2eCn650Lw8XYY0UZc~fxZEwlL2kFPC0wu~pdqVZ0i5VLXYheokbpLMwiUXqtAc6AbQWcTNeVEtCmDzaHf9FEBZdCQ6PteaNN6uufOzQw5V8Jhelal9~7vEh-yiFOhcuVY3xyTr30SzNHEWmvyz66m10YRgdSxkFWXyPoxwsTVptEv7eo8itXPG9qvdqGma1Non0UIgVhnwvJorX5jynDSelAD~36VOCsWSMOWpa5sSBBlI-v3n75g87bTVUpbF0iMsZpDwhiTEIu3JSunVyiJlyn7smp7XgSb3xDZp0T6veKu81obeg-iSA__&Key-Pair-Id=APKAITJV77WS5ZT7262A" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

        </ng-template>  
        
          
      </owl-carousel-o>
      <div>Some tags after</div>
    
    </div>